header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  .header__wrappe {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    width: 90%;
      max-width: 1200px;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: auto;
      img {
        width: 120px;
      }
    }
  }
}

.navigation__mobile {
  display: none;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    li {
      margin-bottom: 5px;
      border: 0.5px solid #c4c4c4;
    }
  }

  @include forMobile {
    display: flex;
  }
}
