.btn {
  background: $main-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 10px;
  color: #ffffff;
  &:hover {
    background: $second-color;
  }
}

.btn-top {
  visibility: hidden;
  position: fixed;
  left: 46%;
  width: 200px;
  background: $second-color;
  padding: 10px 10px;
  text-align: center;
  color: black;
  font-weight: 800;
  &:hover {
    opacity: 0.9;
  }
}
