.btn {
  background: #911c1c;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 10px;
  color: #ffffff;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  &:hover {
    background: $second-color;
  }
}
