body {
  margin: 0 auto;
  padding: 0;
}

:focus {
  outline-color: #901c1c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container__wrappe {
  max-width: 1280px;
}

h1,
h2,
h3,
li,
address,
.tag {
  font-family: DM Sans;
  font-weight: normal;
}

h1 {
  font-size: 30px;
  color: #901c1c;
}
@media screen and (max-width: 599px) {
  h1 {
    font-size: 16px;
  }
}

h2 {
  font-size: 18px;
  color: #901c1c;
}

h3 {
  font-size: 18px;
  line-height: 31px;
  color: #901c1c;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

address {
  font-size: 16px;
  text-align: center;
  color: #901c1c;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.display-tags {
  display: flex;
  flex-wrap: wrap;
}
.display-tags :nth-child(2) {
  display: none;
}
.display-tags :nth-child(4) {
  display: none;
}
.display-tags :nth-child(6) {
  display: none;
}

.tag {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #901c1c;
  padding: 0.3em 0.5em;
  margin: 0px 5px 5px 0px;
  border: 1px solid #525252;
  box-sizing: border-box;
  border-radius: 11px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 5px;
}

header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .header__wrappe {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
}
header .header__wrappe .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: auto;
}
header .header__wrappe .logo img {
  width: 100%;
}
@media screen and (max-width: 599px) {
  header .header__wrappe .logo img {
    width: 80%;
  }
}
header .header__wrappe .box__tags {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header__wrappe .box__tags ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header__wrappe .box__tags ul li {
  cursor: pointer;
}
header .header__wrappe .box__tags ul li:hover {
  border: 1px solid #911c1c;
}
@media screen and (max-width: 599px) {
  header .header__wrappe .box__tags ul {
    display: none;
  }
}

.navigation__mobile {
  display: none;
  justify-content: center;
  align-items: center;
}
.navigation__mobile ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.navigation__mobile ul li {
  margin-bottom: 5px;
  border: 0.5px solid #c4c4c4;
}
@media screen and (max-width: 599px) {
  .navigation__mobile {
    display: flex;
  }
}

.section__photographers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
@media screen and (max-width: 599px) {
  .section__photographers {
    padding: 0 1em;
  }
}
.section__photographers .display__photographers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .section__photographers .display__photographers {
    justify-content: center;
  }
}

@media screen and (max-width: 599px) {
  .hero__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.hero__wrappe {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  border-radius: 5px;
  padding: 2em 2em;
  max-width: 1200px;
  width: 1200px;
  width: 100%;
  height: 300px;
}
.hero__wrappe--img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  .hero__wrappe--img img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 599px) {
  .hero__wrappe--img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
.hero__wrappe--information {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero__wrappe--information h1 {
  text-align: left;
}
.hero__wrappe--information address {
  text-align: left;
}
.hero__wrappe--information p {
  text-align: left;
}
.hero__wrappe--information ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -40px;
}
.hero__wrappe--information ul :nth-child(2) {
  display: none;
}
.hero__wrappe--information ul :nth-child(4) {
  display: none;
}
.hero__wrappe--information ul :nth-child(6) {
  display: none;
}
.hero__wrappe--btn {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  align-self: flex-start;
}
@media screen and (max-width: 599px) {
  .hero__wrappe--btn {
    width: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 10px;
    position: fixed;
    bottom: 30px;
    left: 0;
  }
}
@media screen and (max-width: 599px) {
  .hero__wrappe {
    height: auto;
  }
}

.galery__images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.galery__images--wrappe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.galery__images--wrappe .card {
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .galery__images--wrappe .card {
    width: 100%;
  }
}
.galery__images--wrappe .card img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.galery__images--wrappe .card video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.galery__images--wrappe .card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.galery__images--wrappe .card .title .fa-heart {
  color: #901c1c;
}
@media screen and (max-width: 599px) {
  .galery__images {
    padding: 1em;
  }
}

.fixed-card {
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 200px;
  height: auto;
  padding: 1em;
  background: #db8876;
  border-radius: 5px;
}
.fixed-card .fixed-card-wrappe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed-card .fixed-card-wrappe .fa-heart {
  color: #901c1c;
}
@media screen and (max-width: 599px) {
  .fixed-card {
    display: none;
  }
}

.card__photographer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  min-width: 250px;
  padding: 2em 0;
}
@media screen and (max-width: 599px) {
  .card__photographer {
    padding: 1em;
  }
}
.card__photographer .portrait {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__photographer .portrait img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.card__photographer .title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  color: #d3573c;
}
.card__photographer .tagline {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 13px;
  text-align: center;
  color: #000000;
}
.card__photographer .tarif {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
  color: #525252;
}

.form {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5ms;
}
.form .form__wrappe {
  background-color: #db8876;
  max-width: 500px;
  width: 100%;
  padding: 2em;
  min-height: 400px;
  height: auto;
}
.form .form__wrappe .form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form .form__wrappe .form-header .fa-times {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form .form__wrappe .form-header .fa-times:hover {
  font-size: 42px;
}
.form .form__wrappe form {
  min-height: 400px;
  width: 100%;
}
.form .form__wrappe form input,
.form .form__wrappe form textarea {
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  height: 40px;
  padding-left: 1em;
}
.form .form__wrappe form textarea {
  height: 100px;
}
@media screen and (max-width: 599px) {
  .form .form__wrappe form textarea {
    height: 50px;
  }
}
.form .form__wrappe form label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #312e2e;
}
@media screen and (max-width: 599px) {
  .form .form__wrappe form label {
    font-size: 20px;
  }
}
.form .form__wrappe form .btn-contact {
  padding: 1em 2em;
  color: #fff;
  margin-top: 20px;
}
.form .form__wrappe h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 1;
  color: #000000;
}
@media screen and (max-width: 599px) {
  .form .form__wrappe h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 599px) {
  .form .form__wrappe {
    width: 100vw;
    height: auto;
    padding-left: 1em;
    padding-right: 2em;
  }
}
@media screen and (max-width: 599px) {
  .form .form__wrappe {
    margin: 1em;
  }
}

.btn {
  background: #901c1c;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 10px;
  color: #ffffff;
}
.btn:hover {
  background: #d3573c;
}

.btn-top {
  visibility: hidden;
  position: fixed;
  left: 46%;
  width: 200px;
  background: #d3573c;
  padding: 10px 10px;
  text-align: center;
  color: black;
  font-weight: 800;
}
.btn-top:hover {
  opacity: 0.9;
}

.section__filter--wrappe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
}
.section__filter--wrappe select {
  margin-left: 20px;
  background-color: #901c1c;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .section__filter--wrappe {
    justify-content: center;
  }
}
@media screen and (max-width: 599px) {
  .section__filter {
    display: none;
  }
}

.lightbox__container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(227, 227, 227, 0.9);
}
.lightbox__container--wrappe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 45vh;
}
.lightbox__container--wrappe .lightbox__container--media {
  width: 80%;
  height: 100%;
  background: #fff;
}
.lightbox__container--wrappe .lightbox__container--media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox__container--wrappe .lightbox__container--media video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lightbox__container--wrappe .lightbox__container--media .title p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #901c1c;
}
@media screen and (max-width: 599px) {
  .lightbox__container--wrappe .lightbox__container--media .title p {
    font-size: 18px;
  }
}
@media screen and (max-width: 599px) {
  .lightbox__container--wrappe .lightbox__container--media {
    width: 100%;
    height: 100%;
  }
}
.lightbox__container--wrappe .lightbox__container--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-start;
}
.lightbox__container--wrappe .lightbox__container--left .fa-chevron-left {
  color: #901c1c;
  font-size: 40px;
  margin-right: 30px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .lightbox__container--wrappe .lightbox__container--left .fa-chevron-left {
    margin-right: 0px;
    z-index: 10;
  }
}
.lightbox__container--wrappe .lightbox__container--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-start;
}
.lightbox__container--wrappe .lightbox__container--right .fa-chevron-right,
.lightbox__container--wrappe .lightbox__container--right .fa-times {
  color: #901c1c;
  font-size: 35px;
  margin-left: 30px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .lightbox__container--wrappe .lightbox__container--right .fa-chevron-right,
.lightbox__container--wrappe .lightbox__container--right .fa-times {
    margin-left: 0px;
    z-index: 10;
    margin-top: -20px;
  }
}
@media screen and (max-width: 599px) {
  .lightbox__container--wrappe {
    width: 100%;
    height: 300px;
    padding: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
